<IfModule mod_deflate.c>
  SetOutputFilter DEFLATE
  SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ \
    no-gzip dont-vary
  SetEnvIfNoCase Request_URI \
    \.(?:exe|t?gz|zip|bz2|sit|rar|mp3|mpeg)$ \
    no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.pdf$ no-gzip dont-vary

  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

  # Uncomment for deflate debugging
  # DeflateFilterNote Input input_info
  # DeflateFilterNote Output output_info
  # DeflateFilterNote Ratio ratio_info
  # LogFormat '"%r" %{output_info}n/%{input_info}n (%{ratio_info}n%%)' deflate
  # CustomLog /var/log/apache2/deflate_log deflate
  
  <IfModule mod_headers.c>
    # properly handle requests coming from behind proxies
    Header append Vary User-Agent
  </IfModule>
</IfModule>