LoadModule passenger_module /usr/local/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-<%= PASSENGER_VERSION %>/ext/apache2/mod_passenger.so
PassengerRoot /usr/local/ruby-enterprise/lib/ruby/gems/1.8/gems/passenger-<%= PASSENGER_VERSION %>
PassengerRuby /usr/local/bin/ruby

RailsEnv production

# Default our app servers leave 1/2 for system ram
# and assume 100M per passenger instance
PassengerMaxPoolSize <%= ((CONFIG[ENVIRONMENT][:apps][0][:ram] / 2) / 100).to_i  %>
PassengerMaxInstancesPerApp 5
PassengerPoolIdleTime 60

# Performance tuning of passenger
#RailsSpawnMethod smart
PassengerMaxRequests 500
# PassengerStatThrottleRate 5
# RailsAppSpawnerIdleTime 0
# RailsFrameworkSpawnerIdleTime 0