###############################################################################
## Monit control file
###############################################################################
##
## Comments begin with a '#' and extend through the end of the line. Keywords
## are case insensitive. All path's MUST BE FULLY QUALIFIED, starting with '/'.
##
## Bellow is the example of some frequently used statements. For information
## about the control file, a complete list of statements and options please 
## have a look in the monit manual.
##
##

###############################################################################
## Global section
###############################################################################
##
## Start monit in background (run as daemon) and check the services at 2-minute
## intervals.
set daemon 60

# For HTTP monitoring server. Unnecessary

set httpd port 2812 and
 use address localhost     # only accept connection from localhost
 allow localhost           # allow localhost to connect to the server and
 allow admin:monit_admin   # require user 'admin' with password 'monit'

## Set syslog logging with the 'daemon' facility. If the FACILITY option is
## omited, monit will use 'user' facility by default. You can specify the
## path to the file for monit native logging.
set logfile syslog facility log_daemon 

## Set list of mailservers for alert delivery. Multiple servers may be 
## specified using comma separator. By default monit uses port 25 - it is 
## possible to override it with the PORT option.
set mailserver localhost
set mail-format { from: monit@localhost }
set alert root@localhost

include /etc/monit/conf/*
